@charset "UTF-8";

*{padding: 0px; margin: 0px;}

#wrap{
	width: 100%;
}

.body{
	width: 1800px;
	margin-top : 200px;
	display: flex;
}

.writebox, .postbox{
	margin-left: 100px;
	width: 400px;
}

.writebox h3{
	text-align: center;
}

.postbox h3{
	text-align: center;
}

.tablebox{
	margin-left: 100px;
	width: 800px;
	text-align: center;
}

.tablemain{
	margin: 0 auto;
}












