@charset "UTF-8";

/* 키오스크 전체구역 */
.kioskwrap{
	font-family: 'MBC1961GulimM';	/* 외부폰트 */
	width: 700px;	height: 1000px;
	margin: 50px auto;	/* 구역 가로 정렬 */
}

/* 헤더구역의 이미지 */
.himg{
	width: 100%;
	/* object-fit: cover; 이미지가 깨졌을때 비율 맞추기*/
	
}

button{
	font-family:  'MBC1961GulimM';
}

/* 카테고리 */
.categorymenu{
	display: flex;
	justify-content: space-around;	/* 가로 균등배치 */
	padding-top: 2px;
	
}
/* 선택이 안된 카테고리 */
.categorymenu li{
	color: #8e8e8e;
}



/* 선택 된 카테고리 */
.categoryselect{
	color: red !important;	/* 위에서 이미 속성을 사용했으므로 중복이됨 */
	/* 
		해결방법 
		1. id 별도로 지정
		2. style 속성이용
		3. important 사용
	 */
	border-bottom: 3px solid red;
	padding-bottom: 3px;
}

/* 제품들이 출력되는 구역 */
.productbox{
	height: 450px;	/* 생략시 기본값 auto 내용물 크기만큼 계속 늘어남 */
	display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;	/* 만약에 자식요소들이 현재 구역보다 사이즈가 더 커지면 세로 스크롤 생성*/
}

/* 제품 한개 */
.product{
	width: 30%;
	text-align: center;
	margin: 10px 10px 30px 10px;
}
.product .pprice{
	color: red;
}

.product img{
	width: 100%;
}

/* 카트 출력 구역 */
.cartbox{
	height: 250px;
	background-color: #eeeeee;
	position: relative;
}


/* 카트 상단 부분 */
.carttop{
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
}

/* 카트내 제품수 꾸미기 */
.ccount{
	background-color: red;
	width: 30px;	/* span은 inline이 기본값이므로 크기 적용이 불가능 */
	display: inline-block;	/* span의 기본값을 변경 */
	border-radius: 30px;
	font-size: 15px;
	text-align: center;
	color: white;
	padding: 4px;
}

/* 카트내 제품 총가격 */
.ctotal{
	color: red;
}


/* 카트내 제품을 출력 하는 구역 flex는 자식 요소들이 만약에 사이즈가 더크면 자동으로 자식요소들의 사이즈를 줄임*/
/* 1. flex-wrap사용 2. 최소사이즈 고정 사용 */
.cartbottom{
	display: flex;
	overflow-x: scroll;	/* 가로 스크롤 */
}

/* 카트내 제품 하나 출력 */

.citem{
	min-width: 20%; /* 한줄에 4개씩 최소 사이즈 지정*/
	background-color: white;
	padding: 10px;
	margin: 5px 20px 10px 20px;
	position: relative;
}

/* 카트내 제품 1개 개별취소 버튼 */
.icancel{
	position: absolute; right: 10px; top: 8px;
}

/* 카트내 제품명 */
.iname{
	width: 80%;
	height: 70px;
}

/* 카트내 제품 가격 */
.iprice{
	color: red;
}

/* 카트 내 버튼 구역 */
.cartbtn{
	display: flex;
	position: absolute;	/* 가장 가까운 상위 요소의 포지션을 따라감 */
	width: 100%;
	bottom: 0px;		/* 최하단에 배치 */
}

.cartbtn button{
	width: 50%;
	font-size: 20px;
	color: white;
	border: none;
	padding: 10px;
}

.cancelbtn{
	background-color: black;
}

.orderbtn{
	background-color: red;
}


















