@charset "UTF-8";

/* 공통 여백 제거 */
*{padding: 0px; margin: 0px; font-size: 12px;}
/* a태그 기본값 제거 */
a{color: black; text-decoration: none;}
/* 리스트 글머리 제거 */
li{list-style-type: none;}
/* 웹폰트 */


.top_menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px solid #DBDBDB;	/* 아래 테두리 */
	padding: 10px;
	font-size: 10px;
	margin-right: 20px;
}

.line{		/* 상단 메뉴 텍스트 여백 */
	padding: 0px 10px;
}

.top_menu_icon{
	width: 20px;
	vertical-align: middle;
}

/* 메뉴와 검색창이 포함된 구역 */
.main_menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom:10px;
	
	/* 
		sticky 사용조건
			1. 상위 부모의 사이즈 안에서 고정 vs fiexd[디바이스 화면에 절대 고정]
			2. top right left bottom 1개 이상 필수로 있어야 한다.
			3. 부모요소 overflew 속성 사용금지
	 */
	position: sticky;		/* 스크롤 내릴때 고정 */
	top: 0px;
	z-index: 1;			/* 겹쳤을때 */
	background-color: white;
	opacity: 0.8;		/* 요소 투명도(1:100% 0.5:50%) */
}


.main_logo img{
	height: 20px;
	margin-left: 30px;
}

/* 메뉴 */

.bottom_menu{
	width: 65%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.bottom_menu li{
	font-weight: bold;
	vertical-align: middle;
}

/* new 색상 */
.new{
	color: red;
}

/* 검색창 박스 */
.search_box{
	border-bottom: 1px solid black;
	margin-right: 50px;
	padding-top: 20px;
}

/* 검색창 입력부분 */
.search_box input{
	border: none;
	padding: 5px;
	font-size: 15px;
	width: 120px;
}

/* 검색창 돋보기 이미지 */
.search_box img{
	height: 15px;
}

/* 커서(포커스) */
*:focus{ outline: none; }


/* 상단메뉴 리스트 */
.drop_menu{
	position: relative;		/* 상대위치 */
}

.drop_menu:hover .sub_menu{	/* 숨김상태인 서브메뉴를 마우스를 올렸을때 불러옴 */
	display: block;
}

/* 상단메뉴 드롭박스 */
.sub_menu{
	position: absolute;		/* 절대위치(부모기준) */
	left: -40px; top: 15px;		/* 드랍메뉴 위치 조정 */
	
	width: 120px;		/* 드랍메뉴 사이즈 */
	display: none;		/* 숨김 */
	background-color: white;
	padding: 25px 0px 15px 0px; 
}

/* 드롭박스 정렬 */
.sub_menu li{
	text-align: center;
	padding: 5px 0px;
}

/* 대표 이미지 */

#main_img{
	width: 100%;
	margin-top: 20px;
}


/* ---------------본문------------- */

#content{
	width: 1600px;
	padding: 50px 0px;
	margin: 0 auto;
}

.main_content h3{
	font-size: 17px;
	text-align: center;
}

.main_content h4{
	margin-top:10px;
	font-size: 12px;
	text-align: center;
	color: #999999;
}

/* --------------제품-------------- */
.item{
	width: 380px;
	margin: 30px 0px;
}

.item img{
	width: 100%;	/* 부모요소 크기를 따라감 */
}

/* 칼라 & 리뷰 구역 양끝으로 정렬*/
.color_review{
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* 칼라 요소 구역 */
.color span{		/* span 요소의 display : inline 크기와 높이 변경 불가 */
	display:inline-block;
	width: 10px; height: 10px;
	border: 1px solid #DBDBDB;
}

.review{
	font-size: 11px;
	color: gray;
}

/* 제품명 */
.item_name{
	margin: 5px 0px 10px 0px;
}

.item_name .size{
	font-size: 11px;
	color: #595959;
}

/* 제품 가격, 할인가격, 할인율 */
.item_price{
	margin:5px;
	position: relative;
}

/* 원래 가격 */
.item_price .price{
	text-decoration: line-through;		/* 텍스트 취소선 */
	color: #8e8e8e;
}

/* 할인율 */
.item_price .discount{
	position: absolute;
	right: 0px; top:0px;
	font-size: 16px;
	font-weight: bold;
	color: red;
}

/* 주문폭주 아이콘 */
.item_icon img{
	width: 40px;
}

.items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* ---------푸터 -----------*/

/* 상단 푸터 배경색 */
.top_ft{
	background-color: #f7f7f7;
}

.content_ft{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 10px;
}

.content_ft h2{
	margin: 10px 0px;
	font-size: 20px;
}

.content_ft h3{
	margin: 10px 0px;
	font-size: 16px;
}

.menu_ft p{
	padding-bottom: 10px;
}


/* 푸터 하단 */
.content_botft{
	width: 1400px;
	margin: 0 auto;
	padding: 40px 10px;
	color: #9e9e9e;
}

.content_botft li{
	text-align: center;
	font-size: 12px;
}

/* ---------팝업 창------------- */
#popup_wrap{		/* 팝업창 전체 구역 */
	position: fixed;
	right: 0px; top: 30%;		/* 오른쪽 가운데 */
}

#popup_wrap ul{
	display: flex;
	flex-direction: column;
}

#popup_wrap li{
	height: 25px;
	background-color: #f7f7f7;
	padding: 8px;
	border: 1px solid #dbdbdb;
	text-align: center;
}

#popup_wrap img{
	width: 25px;
}

/* 팝업 아이콘 드랍 다운 */

.popup_item{position: relative;}
.popup_item .sub_item{
	position: absolute;
	top: 0px; right: 42px;
	
	display: none;
	width: 60px; height: 20px;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 10px;
}

.popup_item:hover .sub_item{
	display: block;
}











