@charset "UTF-8";

*{padding: 0px; margin: 0px}
li{list-style-type: none;}

.header{
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: 0px auto;
}

.menus{}

.top_menu{
	text-align: right;
	margin: 10px 0;
	font-size: 12px;
}

.main_menu li{
	display: inline-block;
	margin-left: 80px ;
	font-size: 18px;
}


#main_bg{
	width : 100%; height:250px;
	background-image: url("img/main_img.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 20px;
}

#main_content{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin-top: 20px;
}

.side_menu{
	width: 250px;
}

.side_menu h3{
	background-color:  #516E7F;
	color: white;
	padding: 12px;
}

.side_menu li{
	padding: 10px;
}

.content{
	width: 935px;
}

.content h3{
	margin-bottom: 20px;
	margin-left: 10px;
}

.content li{
	padding: 5px;
}

.main_img{
	text-align: center;
}


















