@charset "UTF-8";

*{padding: 0px; margin: 0px}
li{list-style-type: none;}

.header{
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: 0px auto;
}

.menus{}

.top_menu{
	text-align: right;
	margin: 10px 0;
	font-size: 12px;
}

.main_menu li{
	display: inline-block;
	margin-left: 80px ;
	font-size: 18px;
}








